<h2>I am in Second page</h2>
<a href="/State/first?name=Anjali&age=21"> Go To First Page</a>
<form method="POST" action="/state/second">
    <input name="collegeName" type="hidden" value="MBM">
    <input type="submit" value="Submit to Second" >
</form>