    <h1>This is body for privacy page </h1>
    <hr>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae mollitia labore voluptas 
        deleniti illum! Eum rerum assumenda, veniam maiores nam illum
         voluptates iure dolorem illo voluptatum sapiente atque dignissimos aperiam.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas, eos assumenda. Suscipit numquam a, repellendus dolores incidunt molestias maxime?
         Repellendus reiciendis facere eveniet tempora. Sapiente ea explicabo corporis quaerat provident?</p>